body,
html {
  height: 100%;
}

body#portfolio {
  height: 100%;

  nav {
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }

  #pagepiling {
    height: 100%;

    div.section {
      height: 100%;

      .portfolio_history {
      }

      .portfolio_landing {
        position: relative;
        height: 100%;
        width: 100%;
        background: radial-gradient(
          85% 85% at 50% 15%,
          #4b3278 0%,
          #241d4a 100%
        );

        .mainContainer {
          height: 100%;
          width: 80%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          justify-items: center;
          max-width: 1920px;

          @media (max-width: em(991)) {
            width: 100%;
          }

          .intro_text {
            height: 100%;
            display: flex;
            text-align: left;
            width: 100%;
            justify-content: center;
            flex-direction: column;

            &__header {
              @media (max-width: em(991)) {
                text-align: center;
              }

              h1 {
                font-size: rem(80);
                color: white;
                margin-bottom: rem(15);

                @media (max-width: em(991)) {
                  font-size: rem(50);
                }
              }
            }

            &__subheader {
              @media (max-width: em(991)) {
                text-align: center;
              }

              h1 {
                font-size: rem(80);
                color: white;
                margin-bottom: rem(40);

                @media (max-width: em(991)) {
                  font-size: rem(50);
                }

                .emphasized {
                  @media (max-width: em(991)) {
                    background: none;
                    padding: 0;
                  }
                }
              }
            }

            &__about {
              max-width: 50%;
              border-left: 3px solid $mainPink;
              padding-top: rem(10);

              @media (max-width: em(991)) {
                border-left: none;
                border-top: 3px solid $mainPink;
                max-width: 100%;
              }

              h5 {
                display: block;
                margin-left: rem(25);
                color: white;
                font-size: rem(30);
                font-weight: 500;
                line-height: 1.2;

                @media (max-width: em(991)) {
                  font-size: rem(20);
                  margin-left: 0;
                  line-height: 1.4;
                }
              }
            }

            &__download {
              margin-top: rem(25);
              margin-left: rem(25);

              @media (max-width: em(991)) {
                margin-left: 0;
                margin: 0 auto;
                margin-top: rem(35);
              }

              button {
                &:hover {
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }
}

.emphasized {
  background: #2b010a;
  color: $mainPink;
  padding: rem(2) rem(15);
  border-radius: 20px;
}

.history {
  background: #222;
}

.portfolio_history {
  .mainContainer {
    max-width: 90%;
    margin: 0 auto;
  }
}

.projectWrapper {
  display: flex;
  flex-wrap: wrap;

  .project {
    display: flex;
    margin-bottom: rem(70);
    width: 48%;

    .textContent {
      width: 50%;

      button {
        margin-top: rem(20);
      }

      h3 {
        color: white;
        font-size: rem(30);
        margin-bottom: rem(15);
      }

      p {
        font-size: rem(16);
        color: white;
        font-family: "Roboto", sans-serif;
      }
    }

    .exampleimage {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;

      img {
        margin: 0 auto;
        justify-content: center;
      }
    }
  }
}
