#hero {
    height: 100%;
    position: relative;

    a {
        text-decoration: none;
    }

    .container-main {
        height: 100%;
    }

    .hero {
        &_showmore {
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_arrow {
                animation: arrowBounce 1s infinite;
                position: relative;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &_inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_intro1 {}

        &_intro2 {
            padding: rem(35) 0;
        }

        &_intro3 {
            max-width: rem(490);
            margin-bottom: rem(25);

            @media only screen and (max-width: 840px) {
                max-width: 100%;
            }
        }

    }
}