.aboutme_text {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: rem(15) 0;

        li {
            width: 50%;
            color: $clr-white;
            position: relative;
            padding-left: rem(25);
            font-size: rem(16);

            &::before {
                content: url(../../assets/images/arrow_right.png);
                position: absolute;
                left: 0;

                @media only screen and (max-width: 840px) {
                    content: ''
                }
            }
        }
    }
}

.project {
    &:nth-child(even) {
        ul {
            justify-content: flex-start;

            @media only screen and (max-width: 840px) {
                justify-content: center;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        @media only screen and (max-width: 840px) {
            justify-content: center;
        }

        li {
            color: $clr-white;
            margin-right: rem(25);
            font-size: rem(16);
            opacity: 0.35;
        }
    }
}