$basewhite: #ffffff;
$baseblack: #000000;
$lightGrey: #F18A2A;
$textGrey: #333333;
$navyBlue: #323D50;
$darkBlue: #09327D;
$orange: #F18A2A;
$green: #8bce43;
$mainPink: #fd6182;

body {
    font-size: rem(23)
}