$basewhite: #ffffff;
$baseblack: #000000;
$lightGrey: #f18a2a;
$textGrey: #333333;
$navyBlue: #323d50;
$darkBlue: #09327d;
$orange: #f18a2a;
$green: #8bce43;
$mainPink: #fd6182;

body {
  font-size: rem(23);
}
