html {
  // scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $baseFontFamily;
  font-weight: $roman;
  overflow-x: hidden;
  max-width: 100%;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  &.noFlow {
    overflow: hidden;
  }
}

.nonVisible {
  visibility: hidden;
}

*:before,
*:after {
  transition: 0.2s ease-in-out;
}

.container {
  max-width: rem(1440);
  padding: 0 rem(25);
  margin: 0 auto;
}

.section__type1 {
  padding: rem(50) 0;
  width: 50%;
}

.uwsLogo {
  margin-top: rem(200);

  .container {
    margin: 0 auto;
    text-align: center;

    img {
      width: 75%;
    }
  }
}

.text_container {
  max-width: 100%;
  width: rem(900);
  margin: 0 auto;
}

.firstCard {
  margin-top: rem(55);
}

.uniWork {
  margin-top: rem(150);

  @media (max-width: em(991)) {
    margin-top: rem(50);
  }

  .titleCard {
    position: relative;
    margin-bottom: rem(100);
    width: 100%;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    @media (max-width: em(991)) {
      display: block;
      margin-bottom: rem(35);
    }

    .titleCard_left {
      padding: rem(25);
      background: $mainPink;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: em(991)) {
        width: 100%;
      }

      .titleCard_left__header {
        margin-bottom: rem(15);

        h5 {
          color: #983a4e;
          text-transform: uppercase;
        }
      }

      .titleCard_left__module {
        margin-bottom: rem(30);

        h5 {
          color: white;
          font-size: rem(30);
          font-weight: 600;
        }
      }

      .titleCard_left__link {
        a {
          color: #983a4e;
        }
      }
    }

    .titleCard_right {
      padding: rem(25);
      width: 60%;
      background: darken(#ffffff, 1%);

      @media (max-width: em(991)) {
        width: 100%;
      }

      h5 {
        line-height: 1.5;
      }

      h5:first-of-type {
        font-weight: 600;
      }

      .titleCard_right__length {
        margin-bottom: rem(15);
      }
    }
  }

  .text_container {
    .uni__info {
    }
  }
}

.underConstruction {
  position: absolute;
  padding: rem(20);
  background: #ffefc6;
  border-left: 12px solid #e0b568;
  bottom: -50px;
  right: -30px;
  z-index: 99999;

  @media (max-width: em(991)) {
    padding: rem(10);
    bottom: -20px;
    right: 0px;
  }

  h5 {
    color: #e0b568;
  }
}

iframe {
  margin-bottom: rem(30);
}

.blog_img {
  width: 100%;
  margin: rem(30) 0;
  display: block;

  img {
    width: 100%;
  }
}

footer {
  width: 100%;
  padding: rem(60) 0;

  .footer_container {
    text-align: center;
    margin: 0 auto;

    h5 {
      color: $mainPink;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.mainContainer {
  padding: 0 rem(20);
}

#contact {
  height: 100%;
  margin-top: rem(100);
  @media (max-width: em(991)) {
    height: auto;
    margin-top: rem(200);
  }
  .mainContainer {
    max-width: rem(990);
    margin: 0 auto;
    .contact {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .contact_intro {
        margin-bottom: rem(80);
        position: relative;
        @media (max-width: em(991)) {
          margin-bottom: rem(100);
        }
        p {
          text-align: center;
          margin-bottom: rem(20);
        }
        &:after {
          content: "";
          margin: 0 auto;
          width: rem(80);
          height: rem(5);
          background-color: $mainPink;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      .contact_info {
        display: flex;
        width: 100%;
        padding: 3.125rem;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 9px 24px;
        background: white;
        @media (max-width: em(991)) {
          display: block;
        }

        .contact_details {
          width: 50%;
          height: rem(450);
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          @media (max-width: em(991)) {
            height: auto;
          }
          @media (max-width: em(991)) {
            width: 100%;
          }
          h4 {
            margin-bottom: rem(10);
            color: $mainPink;
          }
          h5 {
            color: black;
          }

          a {
            color: #fd6182;
            @media (max-width: em(991)) {
              font-size: rem(16);
            }
          }
          .contact_detail {
            margin-bottom: rem(30);
            @media (max-width: em(991)) {
              margin-bottom: rem(30);
              text-align: center;
            }
          }
        }

        .contact_map {
          width: 50%;
          height: rem(450);
          @media (max-width: em(991)) {
            width: 100%;
            margin-bottom: rem(100);
          }
        }
      }
    }
  }
}
