body,
html {
  height: 100%;
}

body#portfolio {
  height: 100%;
}

body#portfolio {
  overflow: auto;
  #projects {
    margin-bottom: rem(500);
    .smallContainer {
      max-width: rem(950);
    }
    .container {
      padding: 0 rem(25);
      .projects_intro {
        margin-bottom: rem(100);
        @media (max-width: em(882)) {
          margin-bottom: rem(0);
          margin-top: rem(25);
        }
        h1 {
          @media (max-width: em(882)) {
            text-align: center;
            line-height: 1.4;
          }
        }
      }

      .project_list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-grow: inherit;
        .project {
          width: 100%;
          margin-bottom: rem(25);
          padding: rem(50);
          box-shadow: rgba(0, 0, 0, 0.06) 0px 9px 24px;
          background: white;
          height: rem(380);
          display: flex;
          @media (max-width: em(882)) {
            margin-bottom: rem(50);
            flex-direction: column;
            height: auto;
          }
          @media (max-width: em(536)) {
            padding: rem(50) rem(20);
          }
          &_content {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-right: rem(35);
            @media (max-width: em(882)) {
              order: 1;
              width: 100%;
              padding-right: 0;
            }
            &_status {
              margin-bottom: rem(15);
              h5 {
                font-size: rem(12);
              }
            }
            &__header {
              margin-bottom: rem(20);
              h5 {
                font-weight: 600;
                font-size: rem(27);
              }
            }

            &__desc {
              p {
                font-size: rem(16);
                line-height: 2;
                font-family: "Roboto", sans-serif;
              }
              @media (max-width: em(882)) {
                margin-bottom: rem(25);
              }
            }
            &__skills {
              margin-top: auto;
              margin-bottom: rem(10);
            }
            &__buttons {
              display: flex;
            }
          }
          &_image {
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
            @media (max-width: em(882)) {
              margin-bottom: rem(50);
              order: 0;
              width: 100%;
              background-size: cover;
              border-radius: 0;
              min-height: 250px;
              max-height: 300px;
            }
          }
        }
      }
    }
  }

  .marginRight {
    margin-right: rem(15);
  }

  .gif_tweet {
    background-image: url(../../../../assets/img/gif-tweet.gif);
  }

  .gif_mimram {
    background-image: url(../../../../assets/img/gif-mimram.gif);
  }

  .landing {
    position: relative;
    z-index: 999;
    height: auto;
    height: 100%;
    #landing_square {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      background: darken(#fff, 5%);
      transform: skewY(-12deg);
      transform-origin: 0;
    }
    .container {
      .landing_text {
        &__header {
          margin-bottom: rem(25);
          h1 {
            font-size: rem(70);
            @media (max-width: em(1148)) {
              font-size: rem(60);
            }

            @media (max-width: em(998)) {
              font-size: rem(50);
            }

            @media (max-width: em(882)) {
              text-align: center;
            }
          }
        }
        &__sub {
          max-width: 65%;
          border-left: 5px solid $mainPink;
          padding-left: rem(20);
          line-height: 1.3;
          @media (max-width: em(830)) {
            max-width: 100%;
          }
          h4 {
            font-size: rem(30);
            font-weight: 500;
            color: lighten(#000, 25%);
            @media (max-width: em(690)) {
              font-size: rem(20);
            }
          }
        }
      }
    }
  }

  .middle {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.emphasized {
  background: #2b010a;
  color: $mainPink;
  padding: rem(2) rem(15);
  border-radius: 20px;
}

.lang {
  border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin: 0 rem(5) 0 rem(5);
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Fira Code, Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: rem(12);
  font-weight: 400;
  color: #525f7f;
}

.img_tweetgenerator {
  background-image: url(../../../../assets/img/proj-react-tweet.png);
}

.img_soon {
  background: white;
}

.breakLine {
  @media (max-width: em(882)) {
    display: block;
    padding: rem(20) rem(10);
    margin-top: rem(20);
  }
}

.complete {
  color: green;
  font-weight: 600;
}

.incomplete {
  color: red;
  font-weight: 600;
}
