#aboutme {
  padding: rem(200) 0;

  .flex {
    @media only screen and (max-width: 840px) {
      flex-direction: column;
    }
  }

  .aboutme {
    &_header {
      margin-bottom: $section-spacing;
    }

    &_me {
    }

    &_text {
      width: 64%;
      position: relative;
      @media only screen and (max-width: 840px) {
        order: 2;
        width: 100%;
        text-align: center;
      }

      .dots {
        position: absolute;
        left: 0;
        min-width: 50%;
        bottom: rem(-40);
        opacity: 0.02;
        left: rem(-70);
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &_img {
      width: 36%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 840px) {
        order: 1;
        width: 100%;
        justify-content: center;
        margin-bottom: rem(50);
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 100%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }
}

.project_new {
  position: absolute;
  display: block;

  padding: rem(10) rem(25);
  border-radius: 5px;
  border: 0;
  background-color: #5aca75;
  color: white;
  top: 19px;
  left: -25px;
  z-index: 9999;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  @media only screen and (max-width: 840px) {
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    padding: rem(10) rem(50);
  }
}

.allprojects {
  padding-top: 25px;

  @media only screen and (max-width: 840px) {
    padding-top: 0;
  }
}

#projects {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 11%2c 26%2c 1)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 283.53Q-18.36 193.17%2c 72 174.8Q194.94 177.74%2c 192 300.68Q203.95 192.63%2c 312 204.58Q339.42 160%2c 384 187.42Q435.34 166.76%2c 456 218.1Q500.6 190.7%2c 528 235.3Q599.11 234.41%2c 600 305.52Q635.82 221.34%2c 720 257.16Q797.57 214.73%2c 840 292.29Q868.56 200.85%2c 960 229.41Q978.61 176.02%2c 1032 194.63Q1115.78 158.41%2c 1152 242.18Q1225.72 195.91%2c 1272 269.63Q1325.02 202.65%2c 1392 255.67Q1428.26 171.93%2c 1512 208.18z' fill='rgba(6%2c 22%2c 43%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 328.72Q19.25 275.97%2c 72 295.21Q159.7 262.91%2c 192 350.61Q246.47 285.08%2c 312 339.54Q384.13 291.68%2c 432 363.81Q440.88 300.69%2c 504 309.58Q547.03 280.61%2c 576 323.64Q614.32 241.96%2c 696 280.28Q786.44 250.72%2c 816 341.16Q833.09 286.25%2c 888 303.34Q910.24 253.58%2c 960 275.82Q1015.1 258.92%2c 1032 314.02Q1078.03 240.05%2c 1152 286.08Q1246.04 260.12%2c 1272 354.15Q1345.48 307.63%2c 1392 381.11Q1438 355.11%2c 1464 401.11z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 444.18Q-1.39 370.79%2c 72 369.4Q148.39 325.79%2c 192 402.18Q241.21 379.39%2c 264 428.6Q323.53 416.13%2c 336 475.67Q348.79 368.46%2c 456 381.24Q486.32 339.56%2c 528 369.89Q578.79 348.68%2c 600 399.47Q708.51 387.98%2c 720 496.49Q736.51 393%2c 840 409.52Q857.06 354.58%2c 912 371.64Q982.38 322.02%2c 1032 392.41Q1091.54 379.95%2c 1104 439.48Q1124.75 388.23%2c 1176 408.97Q1192.92 353.89%2c 1248 370.82Q1332.19 335.01%2c 1368 419.21Q1436.2 367.41%2c 1488 435.61z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 531.74Q36.75 448.49%2c 120 485.24Q148.29 441.53%2c 192 469.83Q298.54 456.37%2c 312 562.9Q324.29 503.19%2c 384 515.49Q453.18 464.67%2c 504 533.86Q593.06 502.92%2c 624 591.99Q637.1 533.09%2c 696 546.18Q703.71 481.89%2c 768 489.6Q853.94 503.54%2c 840 589.48Q815.95 493.43%2c 912 469.38Q999.49 436.87%2c 1032 524.36Q1055.08 475.44%2c 1104 498.52Q1151.55 426.07%2c 1224 473.62Q1279.13 456.75%2c 1296 511.88Q1372.21 468.09%2c 1416 544.3Q1475.09 531.38%2c 1488 590.47z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: rem(250);
  margin-bottom: -1px;
  @media only screen and (max-width: 450px) {
    padding-bottom: rem(150);
  }
  .projects {
    &_header {
      margin-bottom: $section-spacing;
    }
  }

  .project:not(:last-child) {
    margin-bottom: rem(200);

    @media only screen and (max-width: 840px) {
      margin-bottom: rem(100);
    }
  }

  .project {
    .flex {
      @media only screen and (max-width: 840px) {
        flex-direction: column;
      }

      & > * {
        @media only screen and (max-width: 840px) {
          width: 100%;
        }
      }
    }

    a.projects {
      width: 50%;
      justify-content: center;
      align-items: center;
      display: flex;

      @media only screen and (max-width: 840px) {
        width: 100%;
        margin-bottom: rem(25);
      }
    }

    &:nth-child(even) {
      img {
        left: auto;
        right: 15px;

        @media only screen and (max-width: 1220px) {
          bottom: 0;
          right: 0;
        }

        &:hover {
          right: 0px;
          bottom: 0px;
          transition: 0.3s all ease;
          left: auto;
        }
      }

      a {
        order: 2;

        @media only screen and (max-width: 840px) {
          order: 1;
        }
      }

      .project_text {
        order: 1;

        @media only screen and (max-width: 1220px) {
          padding-right: rem(25);
          padding-left: 0;
        }

        @media only screen and (max-width: 840px) {
          padding-right: 0;
        }

        &_header {
          margin-left: 0;
          margin-right: rem(-60);
          text-align: right;

          @media only screen and (max-width: 1220px) {
            margin-right: 0;
            text-align: left;
          }
        }

        &_blurb {
          margin-left: 0;
          margin-right: rem(-60);

          @media only screen and (max-width: 1220px) {
            margin-right: 0;
          }
        }

        &_links {
          justify-content: flex-start;

          @media only screen and (max-width: 840px) {
            justify-content: flex-end;
          }
        }
      }
    }

    &_img {
      background: $clr-light;
      z-index: 1;
      order: 1;
      display: flex;
      flex-direction: column;

      box-shadow: 0 0.6px 1px rgba(0, 0, 0, 0.028),
        0 1.5px 2.4px rgba(0, 0, 0, 0.04), 0 2.9px 4.5px rgba(0, 0, 0, 0.05),
        0 5.1px 8px rgba(0, 0, 0, 0.06), 0 9.6px 15px rgba(0, 0, 0, 0.072),
        0 23px 36px rgba(0, 0, 0, 0.1);

      @media only screen and (max-width: 1220px) {
        height: 100%;
      }

      img {
        width: 100%;
        position: relative;
        z-index: 2;
        bottom: 15px;
        left: 15px;
        transition: 0.3s all ease;
        object-fit: cover;
        height: 100%;
        filter: grayscale(1);

        @media only screen and (max-width: 1220px) {
          bottom: 0;
          left: 0;
          height: 100%;
        }

        @media only screen and (max-width: 840px) {
          filter: grayscale(0);
        }

        &:hover {
          left: 0px;
          bottom: 0px;
          transition: 0.3s all ease;
          cursor: pointer;
          filter: grayscale(0);
        }
      }
    }

    &_text {
      width: 50%;
      position: relative;
      z-index: 3;
      order: 2;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: 1220px) {
        padding-left: rem(25);
        padding-right: 0;
      }

      @media only screen and (max-width: 840px) {
        padding-left: 0;
      }

      &_header {
        margin-left: rem(-60);
        margin-bottom: rem(15);

        @media only screen and (max-width: 1220px) {
          margin-left: 0;
          margin-bottom: rem(30);
        }
      }

      &_blurb {
        background: $clr-light;
        padding: rem(20) rem(20) rem(20) rem(40);
        margin-left: rem(-60);
        border: 1px solid darken($clr-light, 10%);
        border-radius: 5px;
        box-shadow: 0 0.6px 1px rgba(0, 0, 0, 0.028),
          0 1.5px 2.4px rgba(0, 0, 0, 0.04), 0 2.9px 4.5px rgba(0, 0, 0, 0.05),
          0 5.1px 8px rgba(0, 0, 0, 0.06), 0 9.6px 15px rgba(0, 0, 0, 0.072),
          0 23px 36px rgba(0, 0, 0, 0.1);

        @media only screen and (max-width: 1220px) {
          margin-left: 0;
          padding: rem(20);
        }
      }

      &_skills {
        // margin-left: rem(-60);
        margin-top: rem(25);
        margin-bottom: rem(25);
      }

      &_links {
        margin-top: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 840px) {
          justify-content: flex-end;
        }

        &_link {
          margin-right: rem(25);

          svg {
            height: rem(35);
          }
        }

        a {
          fill: white;
          opacity: 0.6;
          transition: 0.2s all ease;

          &:hover {
            opacity: 1;
            transition: 0.2s all ease;
          }
        }
      }
    }
  }
}

#contact {
  padding-bottom: rem(100);
  padding-top: rem(50);
  background: #fff;
  .contact {
    &_header {
      margin-bottom: $section-spacing;
    }

    &_text {
      margin-bottom: rem(50);

      p {
        margin: 0 auto;
      }
    }

    &_btn {
      text-align: center;
    }
  }
}

#whatido {
  position: relative;

  .skew_1 {
  }

  .skew_2 {
    height: 100%;
    position: absolute;
    width: 100%;
    transform: skewY(-5deg);
    transform-origin: 100% 0;
    background: #f6f9fc;
  }

  .section_mask {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .section_bg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0% 0;
    transform: skewY(-5deg);
    background: #f6f9fc;
    overflow: hidden;
  }

  .skew {
    position: relative;
  }
}

.whatido {
  &_box {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    display: block;
    min-height: 894px;
  }
}

.topLeft {
  top: 0;
  left: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}

.greenbox {
  content: "";
  position: absolute;
  height: 100px;
  width: 35vw;
  background: #c7ffd3;
}

.testing {
  position: relative;
  z-index: -1;
}

.whatido_content {
  position: relative;
}
