body#portfolio {
    .generic {
        width: 224px;
        height: 43px;
        background: linear-gradient(87.89deg, #782098 0%, #DD2E9F 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0;
        border-radius: 15px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: 0.4s ease-in-out all;

        &:hover {
            transition: 1s ease-in-out all;
            background: linear-gradient(87.89deg, #DD2E9F 0%, #782098 100%);
        }
    }
}
